doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title npm Package Store

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    block styles
  body
    nav.navbar.navbar-default.navbar-fixed-top.header(role='navigation')
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/') My modules

        ul.nav.navbar-nav
          li.active
            a(href='/') Installed

        //form.navbar-form.navbar-right(role='search')
          div.form-group
            div.input-group
              input.form-control(type='text')
              span.input-group-btn
                button.btn.btn-default
                  span.glyphicon.glyphicon-search

    div.container-fluid
      block content

    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    block scripts